* {margin: 0; padding: 0;}

html {scroll-behavior: smooth;}

header {

	background-color: #261626;

	z-index: 9999;

	-webkit-transition: all 0.3s ease-in-out;

	transition: all 0.3s ease-in-out;

}

.container {width: 80%; margin: auto;}

.logo {

	color: #fff;

	float: left;

	width: 25%;

	font-size: 25px;

	font-family: cursive, sans-serif;

	font-weight: bold;

	margin: 16px 0;

}

.toggle .fa {

    float: right;

    color: #fff;

    margin-top: 8px;

    font-size: 30px;

    background-color: transparent;

    border: 2px solid red;

    padding: 5px 10px;

    display: none;

}

.toggle .fa:hover {background-color: #fa1a1a;}

nav {

	float: left;

	width: 75%;

	-webkit-transition: all 0.5s ease-in-out;

	transition: all 0.5s ease-in-out;

	z-index: 9999;

}

.show {margin-left: 0;}

nav .list {

    list-style-type: none;

    text-align: right;

}

.list .close {

	color: #fff;

	text-align: right;

	font-size: 25px;

	padding: 20px;

	display: none;

}

.list .close .fa {cursor: pointer;} 

.list li {display: inline-block;}

.list a {

    color: #fff;

    padding: 20px 15px;

    text-decoration: none;

	display: block;

}

.active {background-color: #ff1a1a;}

@media (max-width: 849px) {

	.toggle .fa {display: block;}

	nav {

		display: block;

		float: none;

		position: absolute;

		top: 59px;

		left: 0;

		width: 70%;

		margin-left: -1000px;

	}

	nav .list {

		background-color: #262626;

	}

	.list .close {display: block;}

	.list li {display: block; text-align: left;}

	.list a {

	color: #fff;

	padding: 20px 15px;

	text-decoration: none;

	display: block;

	}

}

#home {

	background: -webkit-linear-gradient(to left top, #ffb3b3, #ff9999, #ff8080, #ff6666, #ff4d4d, #ff333);

    background: linear-gradient(to left top, #ffb3b3, #ff9999, #ff8080, #ff6666, #ff4d4d, #ff3333);

    color: #fff;

}

#home h1 {

	font-size: 50px;

	margin: 30px 0;

}

#home p {font-size: 25px;}

section {

	text-align: center;

	padding: 100px 0;

	height: 750px;

	color: #262626;

}

section:nth-of-type(odd) {

    background-color: #eee;

}

div.info {

    background-color: #404040;

    height: 500px;

}

footer {

    background-color: #1a1a1a;

    text-align: center;

    color: #fff;

    font-size: 15px;

    padding: 25px 0;

} 
