@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

$height: 62px;
$color-gray: #222126;
$color-main: #F22222;
$color-white: #F0F0F2;

.navbar{
  z-index: 99;
  max-width: 100vw;
  width: 100%;
  font-family: 'Roboto';
  align-items: center;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  &__container{
    padding: 20px 70px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    min-height: $height;
    align-items: center;
  }
  &__items{
    margin-left: 50px;
  }
  &__link{
    display: inline;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    &:not(:first-child){
      margin-left: 25px;
    }
    &:after{
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -23px;
      width: 100%;
      height: 0;
      background-color: $color-main;
    }
    &:hover{
      color: $color-main;
      transition: .3s;
      &:after{
        height: 4px;
        transition: .2s ease-out;
      }
    }
  }
  &__logo{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    color: $color-main;
  }
}

body{
  background-color: #F0F0F2;
  height: 1500px;
  overflow-x: hidden;
}

.layer{
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  &--background{
    background-image: url('https://images.unsplash.com/photo-1586076395558-55248b55e5b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1269&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    &:after{
      z-index: 1;
      content: '';
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, .6);
    }
  }
}

.content{
  z-index: 2;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Open Sans';
  text-shadow: 0px 2px 4px rgba(0, 0, 0, .5);
  &--center{
    text-align: center;
  }
  &__title{
    font-weight: 700;
    font-size: 23px;
    color: $color-white;
    text-transform: uppercase;
  }
  &__text{
    color: $color-white;
    margin: 25px;
    &--highlight{
      color: $color-main;
      border-bottom: 1px solid $color-main;
    }
  }
  &__button{
    background-color: $color-main;
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 25px;
    border: 1px solid $color-main;
    border-radius: 35px;
    color: $color-white;
    cursor: pointer;
    margin-top: 20px;
    text-shadow: none;
    font-size: 13px;
    text-decoration: none;
    &:hover{
      color: $color-main;
      background-color: $color-white;
      transition: .3s;
    }
  }
}
